@import url("https://fonts.google.com/specimen/Niramit?selection.family=Niramit");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Niramit', sans-serif;
}

body{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: radial-gradient(#aeddf1,#a1dbf4);
}

.container{
    position: relative;
    max-width: 450px;
    width: 100%;
    background: #f0f8c7;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(250, 174, 240, 0.3);
}
  
.container h1{
    font-size: 1.5rem;
    color: #8ae2fa;
    font-weight: 700;
    text-align: center;
}

.container .form{
    font-size: 100%;
    margin-top: 30px;
}

.form .input-box{
    width: 100%;
    margin-bottom: 20px;
}

.input-box label{
    font-weight: 700;
    color: #89d2fd;
}

.form .input-box input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #060606;
    margin-top: 8px;
    border: 1px solid #f7bbf9;
    border-radius: 6px;
    padding: 0 15px;
}

.gender-box{
    margin-bottom: 20px;
}

.gender-box h2{
    margin-bottom: 8px;
    font-size: 100%;
    color: #333;
    font-weight: 700;
}

.submit-box input[type="submit"] {
    background-color: #a9e1f5;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-box input[type="submit"]:hover {
    background-color: #c1ebfc;
    color: rgb(183, 182, 182);
}

.input-box input:focus {
    border: 2px solid ;
}

.submitted-data h2{
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}
